h1 {
    font-size: 112px;
    font-family: 'Jacques Francois', serif;
}
h2 {
    font-size: 48px;
    font-family: 'Jacques Francois', serif;
}
h3 {
    font-size: 40px;
    font-family: 'Jacques Francois', serif;
}
p {
    font-size: 14px;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
}
a {
    font-family: 'Poppins', sans-serif;
}
img {
    width: 100%;
}
.max-width-1224 {
    max-width: 1224px;
    margin: 0 auto;
}
.block-header {
    background-color: rgb(72, 83, 66);
}

.header-content {
    padding: 34px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 149px;
}

nav ul {
    display: flex;
}
nav ul li {
    margin-left: 40px;
}
nav ul li .nav-links {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.hero {
    background: url('./assets/images/block1-aboutus.avif') no-repeat center center/cover;
    background-size: cover;
    background-position: center center;
    padding-top: 160px;
    padding-bottom: 160px;
}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}
.hero-text h2 {
    margin-bottom: 40px;
}

.about {
    background-color: rgb(199, 206, 201);
    text-align: center;
    color: rgb(72, 83, 66);
}
.about p {
    width: 65%;
    margin: auto;
}
.about h2 {
    padding-bottom: 20px;
}
.padding-130 {
    padding: 130px 0;
}

.me {
    background-color: rgb(92, 103, 86);
    color: white;
}
.me-text {
    padding-left: 15%;
    padding-right: 15%;
    margin: auto;
}
.me h3 {
    padding-bottom: 22px;
}
.flex-content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-box-50 {
    width: 50%;
}
.you {
    background-color: rgb(219, 226, 221);
    color: rgb(72, 83, 66);
}
.you-text {
    padding-right: 15%;
    margin: auto;
}
.you h3 {
    padding-bottom: 22px;
}
.say {
    background-color: rgb(47, 58, 41);
    color: white;
    text-align: center;
}
.say p {
    width: 47%;
    margin: auto;
}
.say h2 {
    padding-bottom: 28px;
}

.insta {
    background: rgb(219, 226, 221);
    color: rgb(72, 83, 66);
    text-align: center;
}
.insta h2 {
    margin-bottom: 90px;
}
.insta a {
    color: rgb(72, 83, 66);
    margin-top: 55px;
    width: 20%;
}
.insta-image {
    display: flex;
    justify-content: space-between;
}
.image-adjust {
    width: 30%;
}

.button_link {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    border: 3px solid;
    font-size: 14px;
    width: 50%;
    padding: 10px;
}

.form {
    background-color: rgb(47, 58, 41);
    color: white;
}
.form-content {
    display: flex;
    align-items: center;
}
.form .flex-box {
    width: 50%;
}
.text-section h2 {
    padding-bottom: 28px;
}
.text-section p {
    width: 70%;
}
.form-section form {
    font-family: 'Poppins', sans-serif;
    display: flex;
    line-height: 1.8;
    flex-direction: column;
    justify-content: space-between;
}
.form-section form label {
    font-size: 16px;
}
.form-section form input,
.form-section form textarea {
    font-family: 'Poppins', sans-serif;
    padding: 16px;
    margin-bottom: 20px;
    border: none;
    background-color: rgba(245, 248, 251, 0.6);
    color: rgb(86, 86, 86);
    font-size: 16px;
}
button {
    font-size: 14px;
    border: 3px solid white;
    border-radius: 35px;
    color: white;
    background-color: transparent;
    padding: 3px 37px;
    font-family: 'Poppins', sans-serif;
}

footer {
    background-color: rgb(199, 206, 201);
    padding: 85px 0;
    color: rgb(72, 83, 66);
}
footer .footer-logo img {
    width: 149px;
}
footer .flex-content {
    display: flex;
    align-items: flex-start;
}
footer .flex-box-50 {
    width: 50%;
}
footer .flex-box-25 {
    width: 25%;
}
footer .nav li {
    padding-bottom: 12px;
}
footer a {
    color: rgb(72, 83, 66);
    font-size: 14px;
}
.fa {
    font-size: 16px;
    padding-right: 16px;
}